/* General Styles */

body {
    display: flex;
    justify-content: center;
    justify-items: center;
}

main {
    max-width: 600px;
    max-height: 450px;
    display: flex;
}

.product_image img {
    max-width: 300px;
    max-height: 225px;
}





/* Attribution Class Styles */

.attribution {
    font-size: 11px;
    text-align: center;
    clear: left;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}